html {
  
}

.masthead {
  grid-area: header;
}

.page-title {
  grid-area: title;
}

.main-content {
  grid-area: main;
}

.nav-menu {
  grid-area: navi;
}

.footer {
  grid-area: footer;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: inline;
}

.footer li  {
  display: inline;
}

@media screen and (min-width: 34em){
  .site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    grid-template-areas:
    "header header"
    "title title"
    "navi main"
    "navi main"
    "footer footer";
  }
  
  nav a {
    display: block;
    width: 60px;
  }
}
